{% extends 'base.html.twig' %}
{% block add_stylesheets %}
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="panel-group" id="accordion">
{% for event in events %}
    <div class="panel panel-default" id="panel-event{{event.id}}">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left" style="padding-top: 5.5px;">
            <a data-toggle="collapse" href="#collapse{{event.id}}" >
                {{event.title}} / {{event.country}}&nbsp;&nbsp;&nbsp;{{event.startdate|date("d.m.")}} - {{event.enddate|date("d.m.Y")}}
            </a>
        </h3>
        <div class="btn-group pull-right">
          <a data-toggle="collapse" href="#collapse{{event.id}}" class="btn btn-success btn-sm">Edit</a>
          <a data-toggle="collapse" href="#collapse{{event.id}}" class="btn btn-default btn-sm">Hide</a>
          <a class="btn btn-danger btn-sm btn-event" id="DELETE-{{event.id}}" >Delete</a>
        </div>
      </div>
      <div id="collapse{{event.id}}" class="panel-collapse collapse">
          <div class="panel-body">
              <div class="form-group row">
                <label class="control-label col-sm-2" for="title">Title:</label>
                <div class="col-sm-10">
                  <input type="input" required="true" class="form-control" name="title" placeholder="Enter title" value="{{event.title}}">
                </div>
              </div>
              <div class="form-group row">
                <label class="control-label col-sm-2" for="description">Desription:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="2" name="description" >{{event.description}}</textarea>
                </div>
              </div>
              <div class="form-group row">
                <label class="control-label col-sm-2" for="address">Address:</label>
                <div class="col-sm-10">
                    <div class="input-group"> 
                        <span class="input-group-btn">
                            <button data-toggle="collapse" href="#collapseOne-{{event.id}}" class="btn btn-default ">
                                <i class="glyphicon glyphicon-globe"></i> 
                            </button>
                        </span>
                        <input class="placepicker form-control" data-map-container-id="collapseOne" name="address" value="{{event.address}}" placeholder="Enter Address"/>
                        <input type="hidden" class="form-control lat" name="lat" value="{{event.lat}}" />
                        <input type="hidden" class="form-control lang" name="lang" value="{{event.lang}}" />
                    </div>
                    <div id="collapseOne-{{event.id}}" class="collapse address-collapse">
                      <div class="placepicker-map thumbnail"></div>
                    </div> 
                </div>
              </div>
              <div class="form-group row">
                <label class="control-label col-sm-2" for="zip">Zip:</label>
                <div class="col-sm-10">
                  <input type="input" class="form-control" name="zip" placeholder="Enter Zip" value="{{event.zip}}">
                </div>
              </div>
              <div class="form-group row">
                <label class="control-label col-sm-2" for="country">Country:</label>
                <div class="col-sm-10">
                    <select class="form-control input-medium" name="country">
                        {{country|replace({ (event.country): event.country ~ '" selected="selected' })|raw}}
                    </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="control-label col-sm-2" for="startdate">Start date:</label>
                <div class="col-sm-10">
                    <div class="input-group date startdatetimepicker" id='startdatetimepicker'>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span> 
                        <input type="text" class="form-control " value="{{event.startdate|date("d.m.Y")}}" name="startdate" id="startdate{{event.id}}" placeholder="Select start date">
                    </div>
                </div>
              </div>                    
              <div class="form-group row">
                <label class="control-label col-sm-2" for="startdate">End date:</label>
                <div class="col-sm-10">
                    <div class="input-group date enddatetimepicker" id='enddatetimepicker'>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span> 
                        <input type="text" class="form-control" value="{{event.enddate|date("d.m.Y")}}" name="enddate" id="enddate{{event.id}}" placeholder="Select end date">
                    </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="control-label col-sm-2" for="category">Category:</label>
                <div class="col-sm-10">
                    <select class="form-control input-medium" name="category" id="category{{event.id}}">
                        {{category|replace({ (event.category): event.category ~ '" selected="selected' })|raw}}
                    </select>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default btn-event" id="PUT-{{event.id}}">Save</button>
                   <span class="error-message"></span>
                </div>
              </div>            
          </div>
      </div>
    </div>
{% endfor %}
<div class="panel panel-default panel-event panel-event-new" style="display:none" >
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left" style="padding-top: 5.5px;">
        <a data-toggle="collapse" href="#collapsenew" class="collapse-href">
          <span class="span-title">Add new Event</span> <span class="span-country"></span>&nbsp;&nbsp;&nbsp;
          <span class="span-startdate"></span><span class="span-enddate"></span>
        </a>
      </h3>
      <div class="btn-group pull-right">
        <a data-toggle="collapse" href="#collapsenew" class="btn btn-success btn-sm btn-edit" style="display:none">Edit</a>
        <a data-toggle="collapse" href="#collapsenew" class="btn btn-default btn-sm btn-hide">Hide</a>
        <a class="btn btn-danger btn-sm btn-event btn-delete" id="" >Delete</a>
      </div>
    </div>
    <div class="panel-collapse collapse in">
        <div class="panel-body">
            <div class="form-group row">
              <label class="control-label col-sm-2" for="title">Title:</label>
              <div class="col-sm-10">
                <input type="input" class="form-control" name="title" placeholder="Enter title">
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-sm-2" for="description">Desription:</label>
              <div class="col-sm-10">
                  <textarea class="form-control" rows="2" name="description" ></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-sm-2" for="address">Address:</label>
              <div class="col-sm-10">
                  <div class="input-group"> 
                      <span class="input-group-btn">
                          <button data-toggle="collapse" class="btn btn-default btn-collapse">
                              <i class="glyphicon glyphicon-globe"></i> 
                          </button>
                      </span>
                      <input class="placepicker form-control" data-map-container-id="collapseOne" name="address" placeholder="Enter Address"/>
                      <input type="hidden" class="form-control lat" name="lat"  />
                      <input type="hidden" class="form-control lang" name="lang" />
                  </div>
                  <div class="collapse address-collapse">
                    <div class="placepicker-map thumbnail"></div>
                  </div> 
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-sm-2" for="zip">Zip:</label>
              <div class="col-sm-10">
                <input type="input" class="form-control" name="zip" placeholder="Enter Zip" >
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-sm-2" for="country">Country:</label>
              <div class="col-sm-10">
                  <select class="form-control input-medium" name="country">
                      {{country|raw}}
                  </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-sm-2" for="startdate">Start date:</label>
              <div class="col-sm-10">
                  <div class="input-group date startdatetimepicker" id='startdatetimepicker'>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span> 
                      <input type="text" class="form-control startdate"  name="startdate"  placeholder="Select start date">
                  </div>
              </div>
            </div>                    
            <div class="form-group row">
              <label class="control-label col-sm-2" for="startdate">End date:</label>
              <div class="col-sm-10">
                  <div class="input-group date enddatetimepicker" id='enddatetimepicker'>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span> 
                      <input type="text" class="form-control enddate" name="enddate" placeholder="Select end date">
                  </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-sm-2" for="category">Category:</label>
              <div class="col-sm-10">
                  <select class="form-control input-medium" name="category" >
                      {{category|raw}}
                  </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default btn-event-new" >Save</button>
                <span class="error-message"></span>
              </div>
            </div>            
        </div>
    </div>
</div>
</div>
<div class="form-group row">
  <div class="col-sm-8 col-sm-offset-2">
    <button type="button" class="btn btn-default btn-block btn-new-event">Add new event</button>
  </div>
</div>
{% endblock %}
{% block add_javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?sensor=true&language=en&libraries=places"></script>
    <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('js/admin.placepicker.js') }}"></script>
    <script src="{{ asset('js/admin.js') }}"></script>
    <script>var apiUrl="{{apiUrl}}"</script>
{% endblock %}
