{% extends 'base.html.twig' %}
{% block add_stylesheets %}
    <link href="{{ asset('css/events.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="row map-dynamic">
    <div class="col-md-12">
        <div class="map-canvas" id="map-canvas"></div>
    </div>
</div>
<div class="row map-image" style="display:none">
    <div class="col-md-12">
        <div ></div>
        <button type="button" class="btn btn-default btn-activate-map">Show on map</button>
    </div>
</div>
<div class="row">
<div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-7">
        <div class="row row-background">
            <div class="col text-center"><strong>CATEGORY A</strong></div>
        </div>
        <div class="row">
            {% for category in categoryA %}
            {%  set row_counter = loop.index %}
            <div class="col-md-6 col col-category-a">
                <div class="category-item">
                    <div class="cat-top">
                        <i>{{category.startdate|date("d.m.")}} - {{category.enddate|date("d.m.Y")}}</i>
                        <span style="float:right;">CAT A</span><br />
                        <span class="category-title">{{category.title}}</span>
                        <div class="cat-counter">
                            <span class="cat-counter" style="float:left;">{{row_counter}}</span>
                        </div><br />
                        <b>{{category.country}}</b>
                    </div>
                    <div class="cat-bottom">
                        <span class="text">{{category.description}}</span><br />
                        <button type="button" class="btn btn-default" id="show-map-{{category.id}}">Show on map</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-3">
        <div class="row row-background">
            <div class="col text-center">CATEGORY B</div>
        </div>
        <div class="row">
            {% for category in categoryB %}
            {%  set row_counter = loop.index %}
            <div class="col-md-12 col col-category-b">
                <div class="category-item">
                    <div class="cat-top">
                        <i>{{category.startdate|date("d.m.")}} - {{category.enddate|date("d.m.Y")}}</i>
                        <span style="float:right;">CAT B</span><br />
                        <span class="category-title">{{category.title}}</span>
                        <div class="cat-counter">
                            <span class="cat-counter" style="float:left;">{{row_counter}}</span>
                        </div><br />
                        <b>{{category.country}}</b>
                    </div>
                    <div class="cat-bottom">
                        <span class="text">{{category.description}}</span><br />
                        <button type="button" class="btn btn-default" id="show-map-{{category.id}}" >Show on map</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>
</div>
</div>
{% endblock %}
{% block add_javascripts %}
    <script>var apiUrl="{{apiUrl}}"</script>
    <script>var category_json={{category_json|json_encode()|raw}}</script>
    <script>var categoryB={{categoryB|json_encode()|raw}}</script>
    <script src="{{ asset('js/events.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing&callback=initMap"></script>

{% endblock %}
