{% extends 'base.html.twig' %}
{% block add_stylesheets %}
    <link href="{{ asset('css/index.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="{{ asset('profile.png') }}" alt="">
                <div class="intro-text">
                    <span class="name">Ariel C. Tabag</span>
                    <hr class="star-light">
                    <span class="skills">Software Engineer - Front End Developer - Backend Developer</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
