/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 19, 2016, 9:02:38 PM
    Author     : arieltabag
*/

.placepicker-map{
    min-height: 250px;
}

.panel-heading{
    padding: 4px 15px !important;
}


.glyphicon-refresh-animate {
    animation: spin .7s infinite linear;
    webkit-animation: spin2 .7s infinite linear;
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.error-message{
    color: #FF0000;
    margin-left: 5px;
}