/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 19, 2016, 9:02:38 PM
    Author     : arieltabag
*/
.row-background .col{
    background-color: #e1e1e8;
    border: 1px solid #C0C0C0;
    padding-bottom: 10px;
    padding-top: 10px;
}

.category-item{
    background-color: #e1e1e8;
    border: 1px solid #C0C0C0;
    height: 200px;
    padding: 6px;
}
.col-category-a{
    padding: 5px 3px 1px;
}

.col-category-b{
    padding: 5px 0px;
}

.cat-counter{
    float:right;
    width: 37px;
}

.cat-top{
    height: 115px;
}

span.text{
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.category-title{
    display: block;
    float: left;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
}

.map-canvas{
    height: 500px;
    margin: 20px 0px;
}

.labels {
    color: red;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 60px;     
    border: 2px solid black;
    white-space: nowrap;
}

.btn-activate-map{
    left: 40%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    width: 150px;
}